      - name: Set up Docker Buildx        # Подготовка docker build
        uses: docker/setup-buildx-action@v2

      - name: Build Docker image          # Сборка Docker образа
        run: |
          docker build -t myapp:latest .

      - name: Login to Docker Hub         # Авторизация в Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}  # Docker Hub username
          password: ${{ secrets.DOCKERHUB_TOKEN }}     # Docker Hub token

      - name: Push Docker image to Docker Hub  # Публикация образа
        run: |
          docker tag myapp:latest ${{ secrets.DOCKERHUB_USERNAME }}/myapp:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/myapp:latest
