name: Python CI   # Имя workflow, отображается в GitHub Actions

on:               # Условия запуска workflow
  push:           # Запуск при push
    branches: [ "main" ]   # Ветка main
  pull_request:   # Запуск при создании PR
    branches: [ "main" ]   # Только PR в main

jobs:             # Описание всех задач
  build-and-test:
    runs-on: ubuntu-latest  # Используем Linux-раннер GitHub

    steps:
      - name: Checkout repository        # Шаг 1: клонируем репозиторий
        uses: actions/checkout@v3

      - name: Set up Python              # Шаг 2: устанавливаем Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies       # Шаг 3: ставим зависимости
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests                  # Шаг 4: запускаем тесты
        run: pytest

      - name: Set up Docker Buildx       # Шаг 5: проверяем, что Docker готов
        uses: docker/setup-buildx-action@v2

      - name: Build Docker image         # Шаг 6: сборка Docker image
        run: |
          docker build -t myapp:latest .     # Собираем образ по Dockerfile
